.weather-card {

  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: .8rem;

  @media (min-width: 330px) {
    margin-bottom: 2rem;
    column-gap: 0;
  }

  &__weekday {
    text-align: center;
  }

  &__content {
    background: rgba(255, 255, 255, 0.14);
    border: none;
    border-radius: 2rem;
    box-shadow: 1px 2px 8px 1px rgb(0 0 0 / 3%);

    width: 10rem;
    min-height: 14rem;

    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

    &__condition {
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-align: center;

      height: 3.2rem;
      padding: 0 .2rem;
    }

    &__icons {
      width: 5rem;
    }
    &__temp {
      font-size: 2rem;
    }
  }
}
