<section class="details" *ngIf="weather">
  <ul class="details__list">
    <li>
      <p>Feels like</p>
      <p class="details__list__condition">
        <span class="details__list__condition__icon">
          <i class="fa-solid fa-temperature-full"></i>
        </span>
        {{ weather.current.feelslike_c | number: "1.0-0" }}°C
      </p>
    </li>
    <li>
      <p>Humidity</p>
      <p class="details__list__condition">
        <span class="details__list__condition__icon">
          <i class="fa-solid fa-droplet"></i>
        </span>
        {{ weather.current.humidity }}%
      </p>
    </li>
    <li>
      <p>Chance of rain</p>
      <p class="details__list__condition">
        <span  class="details__list__condition__icon">
          <i class="fa-solid fa-umbrella"></i>
        </span>
        {{ weather.forecast.forecastday[0].day.daily_chance_of_rain }}%
      </p>
    </li>
    <li>
      <p>Wind</p>
      <p class="details__list__condition">
        <span  class="details__list__condition__icon">
          <i class="fa-solid fa-wind"></i>
        </span>
        {{ weather.current.wind_kph }}km/h
      </p>
    </li>
    <li>
      <p>Clouds</p>
      <p  class="details__list__condition">
        <span class="details__list__condition__icon">
          <i class="fa-solid fa-cloud"></i>
        </span>
        {{ weather.current.cloud }}%
      </p>
    </li>
    <li>
      <p>Uv</p>
      <p class="details__list__condition">{{ weather.current.uv }}</p>
    </li>
  </ul>
</section>
