/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/global.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100vw;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;

  min-height: 100%;
}

.back {
  min-height: 100vh;

}

.normal {
  background: #3aa6f3;
}

.day {
  background: linear-gradient(185deg, #4295ff 0%, #55c0fd 100%) no-repeat fixed;

}
.night {
  background: linear-gradient(185deg, #051459 0%, #3597d0 100%) no-repeat fixed;

}

.cloudy-day {
  background: linear-gradient(185deg, #4295ff 0%, #6a8193 100%) no-repeat fixed;
}
.cloudy-night {
  background: linear-gradient(185deg, #051459 0%, #6a8193 100%) no-repeat fixed;
}

.sunrise {
  background: linear-gradient(185deg, #5baee9 0%, #d4ce7f 100%) no-repeat fixed;
}

.hot {
  background: rgb(226,136,25);
  background: linear-gradient(185deg, rgba(226,136,25,1) 0%, rgba(253,230,45,1) 100%) no-repeat fixed;
}

