.weather {
  color: white;

  display: grid;
  align-items: center;
  grid-template-rows: 0.3fr 0.3fr 1.3fr 2fr;

  margin: 0 auto;

  min-height: 100vh;
  max-width: 36rem;

  @media (min-width: 300px) {
    padding: 0 1rem;
  }
  @media (min-width: 350px) {
    padding: 0 2rem;
  }

  @media (min-width: 600px) {
    padding: 2rem .9rem 0 .9rem;

    max-width: 67rem;

    column-gap: 3rem;
    row-gap: 2.5rem;
    align-items: baseline;
    grid-template-areas:
        "search search"
        "local card"
        "main card"
        "main card"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.04fr 0.04fr 0.3fr 0.1fr 0.1fr;

  }

  &__search {
    @media (min-width: 600px){
      grid-area: search;
    }
  }

  &__local {
    @media (min-width: 600px){
      grid-area: local;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      font-size: 2rem;
      padding-right: 1.5rem;
    }

    &__city {
      font-size: 2rem;
      text-align: center;
    }
  }

  &__upper {

    height: 100%;
    @media (min-width: 600px){
      grid-area: main;
      height: 33rem;

    }

    &__main {
      background-color: rgb(255 255 255 / 14%);
      border-radius: 50%;

      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &__temp {
        display: grid;
        justify-items: center;

        &__condition {
          line-height: 1.8rem;

          max-width: 23rem;

          display: flex;
          align-items: center;
          justify-content: space-around;

          &__icon {
            width: 5rem;
          }
        }

        &__degree {
          font-size: 5rem;
          font-weight: 500;
        }

        &__max-min {
          padding: 0.5rem;
        }
      }

      &__fig {
        &__icon {
          font-size: 2rem;
          z-index: 1;
        }
      }
    }
  }
  &__cards {
    width: 100%;
    @media (max-width: 350px){
      overflow-y: auto;
    }
    @media (min-width: 600px){
      grid-area: card;
    }

    &__day {
      &::-webkit-scrollbar {
        width: 0px;
      }

      @media (max-width: 350px){
        overflow-y: auto;
      }

      &__btn {
        background: rgba(255, 255, 255, 0.14);
        border: none;
        border-radius: 2rem;
        box-shadow: 1px 2px 8px 1px rgb(0 0 0 / 3%);

        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;

        padding: 1rem;
        margin-top: 1.5rem;

        width: 100%;
      }
    }

    &__rights {
      @media (min-width: 600px) {
        grid-area: footer;
        padding: 1rem;
      }

      P {
        text-align: center;
      }
    }

  }

}


